<nav class="flex justify-start items-center gap-3 p-5">
  <img
    class="w-10"
    src="/assets/imgs/ess_ring_orange_trans.png"
    alt="UVic ESS Logo"
  />
  <h1 class="text-xl font-semibold">Locker registrations</h1>
</nav>

<main class="px-10 py-10">
  {{if .HasData}}

  <div>
    <h1>Registrations info</h1>

    <h2>{{.Locker}}</h2>
    <h2>{{.UserName}}</h2>
  </div>

  {{else}}

  <section class="flex flex-col gap-3 justify-start items-center">
    <h3>You have no locker registered for this term.</h3>
    <h2 class="text-primary text-xl">Locker registration:</h2>
    <form
      hx-put="/api/dash/register"
      hx-target="#locker-list"
      hx-swap="innerHTML"
      class="p-3 shadow rounded-lg w-max"
    >
      <label class="input input-bordered flex items-center gap-2">
        ELW
        <input
          name="locker"
          hx-put="/dash/api/locker"
          hx-trigger="keyup changed delay:500ms"
          type="number"
          class="grow"
        />
      </label>
    </form>

    <section id="locker-list"></section>
  </section>

  {{end}}
</main>
