<nav class="flex justify-start items-center gap-3 p-5">
    <img class="w-10" src="/assets/imgs/ess_ring_orange_trans.png" alt="UVic ESS Logo" />
    <h1 class="text-xl font-semibold">Locker registrations</h1>
</nav>

<main class="px-10">
    <form 
        hx-get="/api/dash/term"
        hx-trigger="change"
        hx-target="#term-data"
        hx-swap="innerHTML"
        class="flex flex-col">
        <label for="terms">Term:</label>
        <select 
            name="term"
            id="terms"
            class="select select-bordered max-w-xs w-max">
            <option disabled selected>Select a term:</option>
            {{range $term := .Terms}}
            <option value="{{$term}}">{{$term}}</option>
            {{end}}
        </select>
    </form>

    <section id="term-data"></section>
</main>
